<!-- inicio navbar -->      
  <header>
    <nav class="flex justify-between items-center fixed top-auto left-0 right-0 p-6 bg-white border border-blue-800">
      <div class="flex items-center">
        <img src="../assets/img/Group 123 (1).svg" alt="Skandia" class="h-6 mr-10">
        <span class=" text-2xl font-montserrat">
          Plan Financiero Digital - FPX </span>
      </div>
      <div class="flex items-center space-x-3">
        <img src="../assets/img/Happy.svg" alt="">
        <a href="#" class=" text-[#00C83C] font-bold text-xl underline"> Tu Financial Planner</a>
      </div>
      <div class="flex items-center space-x-3">
        <img src="../assets/img/hand3.svg" alt="">
        <a href="#" class="text-[#00C83C] font-bold text-xl underline"> Aportes</a>
      </div>
      <!-- <div class="flex items-center space-x-3 focus:ring hover:scale-90 group-focus-visible:">
        <img src="../assets/img/comp faq.svg" alt="">
      </div> -->
    </nav>
  </header>
  <!-- fin navbar -->