<footer class="bg-gray-200 py-8 justify-between w-full absolute bottom-0" >
    <div class="container mx-auto">
      <div class="flex justify-between">
          <div class="text-wrap">
            <img src="../assets/img/Group 123 (1).svg" alt=""><br>
                &copy;2019 Skandia<br><br>
                <p class="font-Verdana">PBX: <span class="text-footer">658 400</span>/<span class="text-footer">484 1300</span> <br>
                  Linea nacional <span class="text-footer"> 8000 517 526 </span><br>
                  Linea Corporativa 658 4123<br>
                  Av. 19 # 109A - 30 <br>
                  Bogotá D.C, Colombia <br>
                  <b>Oficinas a nivel nacional</b>
                </p>
          </div>
          <div class="mt-auto">
                <a href="" class="font-Verdana underline">Términos y Condiciones Canales de Servicio</a><br>
                <a href="" class="font-Verdana underline">Defensoría del Cosumidor Financiero</a><br>
                <a href="" class="font-Verdana underline">Protección de Datos</a><br>
                <a href="" class="font-Verdana underline">Definiciones Generales - Auto declaración FATCA y CRS</a><br>
                <a href="" class="font-Verdana underline">Recomendaciones de Seguridad</a><br>
                <a href="" class="font-Verdana underline">Ley de Transparecia</a><br>
                <a href="" class="font-Verdana underline">Mapa de Sitio</a><br>
                
          </div>
          <div class="flex space-x-6 mt-auto">
            <a href="https://www.facebook.com" target="_blank"><img src="../assets/img/facebookl.svg" alt="Facebook"></a>
            <a href="https://www.youtube.com" target="_blank"> <img src="../assets/img/youtube.svg" alt="Youtube"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../assets/img/twitter.svg" alt="Twitter"></a>
          </div>
      </div>
    </div>
  </footer>
  <!-- Final Footer -->
